/* Фон и текст */
body {
    background-color: #ff0; /* Американский розовый */
    color: white;
    text-align: center;
    font-family: "Press Start 2P", cursive; /* Пиксельный шрифт */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.hidden {
    display: none;
}

h1, h2 {
    font-size: 24px;
    text-shadow: 2px 2px 4px black;
}

p {
    font-size: 18px;
    max-width: 80%;
}

button {
    background-color: white;
    color: #ff033e;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: transform 0.2s;
}
 #message-screen p {
    color: black; /* Меняет цвет текста на черный */
}

#message-screen p {
    text-align: center; /* Выравнивание текста по центру */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Центрирование текста на половине экрана */
}
#top-gif {
    position: absolute;
    top: 20px; /* Отступ сверху */
    left: 50%;
    transform: translateX(-50%); /* Выравнивание по центру */
    width: 300px; /* Размер (можешь изменить) */
    height: auto;
}

#message-screen h2 {
    margin-top: 80px; /* Отступ сверху, увеличь значение, если нужно ниже */
}

button:hover {
    transform: scale(1.1);
}

/* Анимация сердечек ❤️ */
.heart {
    position: absolute;
    font-size: 30px;
    color: white; /* Белые сердечки, если хочешь красные - поменяй на red */
    animation: float 3s linear infinite, explode 0.3s ease-out 3s forwards;
}

#congrats-gif {
    position: absolute;
    bottom: 20px; /* Расположение внизу */
    left: 50%;
    transform: translateX(-50%); /* Выравнивание по центру */
    width: 100px; /* Размер (можешь изменить) */
    height: auto;
}


@keyframes float {
    0% { transform: translateY(0) scale(1); opacity: 1; }
    100% { transform: translateY(-100vh) scale(1.5); opacity: 0; }
}

@keyframes explode {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(3); opacity: 0; }
}
